/* * {
    outline: 1px solid blue;
} */

body {
    background-color: #4e6487;
}

.card {
    margin: 30px;
    background-color: #bababa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 5px 0 rgba(0, 0, 0, .14),
        0 1px 10px 0 rgba(0, 0, 0, .12)!important;
}
.info > img {
    display: inline-block;
    width: 15%;
    border-radius: 50%;
}

.info > h3 {
    font-size: 40px;
}

.about-text {
    display: inline-block;
    width: 65%;
    margin-left: 1%;
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-image {
    background-image: url(/assets/img/home.jpg);
    padding-top: 200px;
    padding-bottom: 280px;

    background-size: cover;
    background-repeat: no-repeat;

    margin: -8px -8px 0 -8px;

    overflow: hidden;

    /*paralax */
    background-attachment: fixed;
    

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #e7e7e7;
}

.center-image > h2 {
    font-size: 50px;
}